absl-py 
aiohttp 
aiosignal
astor==0.8.1
astunparse==1.6.3
async-timeout
attrs 
Automat==20.2.0
beautifulsoup4==4.10.0
blinker==1.4
brotlipy==0.7.0
bs4==0.0.1
cachetools
certifi==2021.10.8
cffi
charset-normalizer
clang==5.0
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cryptography
cssselect==1.1.0
filelock==3.4.2
Flask==2.0.2
flatbuffers==1.12
frozenlist
gast
google-auth
google-auth-oauthlib==0.4.1
google-pasta
grpcio
h2==3.2.0
h5py
hpack==3.0.0
huggingface-hub==0.2.1
hyperframe==5.2.0
hyperlink==21.0.0
idna
importlib-metadata 
incremental==21.3.0
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing
lxml==4.7.1
Markdown
MarkupSafe==2.0.1
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
multidict
numpy
oauthlib
opt-einsum
packaging==21.3
pandas==1.3.5
parsel==1.6.0
priority==1.3.0
Protego==0.1.16
protobuf==3.17.2
pyasn1
pyasn1-modules==0.2.8
pycparser
PyDispatcher==2.0.5
PyJWT
pyOpenSSL
pyparsing==3.0.6
pyreadline==2.1
PySocks
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
queuelib==1.6.2
regex==2021.11.10
requests
requests-oauthlib==1.3.0
rsa
sacremoses==0.0.46
scipy
Scrapy==2.5.1
service-identity==21.1.0
six 
soupsieve==2.3.1
tensorboard
tensorboard-data-server 
tensorboard-plugin-wit==1.6.0
tensorflow==2.6.0
tensorflow-estimator
termcolor==1.1.0
tokenizers==0.10.3
torch==1.10.1
tqdm==4.62.3
transformers==4.15.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing-extensions
urllib3==1.26.7
w3lib==1.22.0
Werkzeug 
win-inet-pton 
wincertstore==0.2
wrapt 
yarl 
zipp 
zope.interface==5.4.0
gunicorn==19.9.0
